@using Oqtane.Modules.Controls
@using SignalR.Module.Chat.Services
@using SignalR.Module.Chat.Models

@namespace SignalR.Module.Chat
@inherits ModuleBase
@inject IChatService ChatService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Edit> Localizer

<form @ref="form" class="@(validated ? " was-validated" : "needs-validation" )" novalidate>
    <div class="container">
        <div class="row mb-1 align-items-center">
            <Label Class="col-sm-3" For="name" HelpText="Enter a name" ResourceKey="Name">Name: </Label>
            <div class="col-sm-9">
                <input id="name" class="form-control" @bind="@_name" required />
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" @onclick="Save">@Localizer["Save"]</button>
    <NavLink class="btn btn-secondary" href="@NavigateUrl()">@Localizer["Cancel"]</NavLink>
    <br /><br />
    @if (PageState.Action == "Edit")
    {
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
    }
</form>

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage Chat";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Stylesheet("_content/SignalR.Module.Chat/Module.css")
    };

    private ElementReference form;
    private bool validated = false;

    private int _id;
    private string _name;
    private string _createdby;
    private DateTime _createdon;
    private string _modifiedby;
    private DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["id"]);
                Chat Chat = await ChatService.GetChatAsync(_id, ModuleState.ModuleId);
                if (Chat != null)
                {
                    _name = Chat.Name;
                    _createdby = Chat.CreatedBy;
                    _createdon = Chat.CreatedOn;
                    _modifiedby = Chat.ModifiedBy;
                    _modifiedon = Chat.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Chat {ChatId} {Error}", _id, ex.Message);
            AddModuleMessage(Localizer["Message.LoadError"], MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            validated = true;
            var interop = new Oqtane.UI.Interop(JSRuntime);
            if (await interop.FormValid(form))
            {
                if (PageState.Action == "Add")
                {
                    Chat Chat = new Chat();
                    Chat.ModuleId = ModuleState.ModuleId;
                    Chat.Name = _name;
                    Chat = await ChatService.AddChatAsync(Chat);
                    await logger.LogInformation("Chat Added {Chat}", Chat);
                }
                else
                {
                    Chat Chat = await ChatService.GetChatAsync(_id, ModuleState.ModuleId);
                    Chat.Name = _name;
                    await ChatService.UpdateChatAsync(Chat);
                    await logger.LogInformation("Chat Updated {Chat}", Chat);
                }
                NavigationManager.NavigateTo(NavigateUrl());
            }
            else
            {
                AddModuleMessage(Localizer["Message.SaveValidation"], MessageType.Warning);
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Chat {Error}", ex.Message);
            AddModuleMessage(Localizer["Message.SaveError"], MessageType.Error);
        }
    }
}
